{% extends 'base.html' %}

{% block meta %}
    <title>{{ app_name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{% endblock meta %}

{% block content %}
    <style>
        *:before,
        *:after {
            box-sizing: border-box;
            
        }
        .nav-bar {
            padding: 1.2rem;
            background-color: white;
        }
        .nav-bar h1 {
            margin: 0;
        }
        .nav-bar .checkout {
            color: #557C56;
            font-style: italic;
        }
        .nav-bar .ify {
            color: black;
        }
        .main {
            margin-left: 1.2rem;
        }
        table {
            border: solid white 2px;
            border-radius: 1rem;
            padding: 6px;
            border-collapse: collapse;
        }
        .add-product-form {
            text-align: center;
        }
        .add-product-form table {
            margin: 0 auto; 
        }
        .add-product-form button {
            border: none;
            padding: 0.7rem;
            margin-top: 5rem; 
            border-radius: 1rem;
            transition: ease-in 0.1s;
        }
        
        .add-product-form button:hover {
            background-color: rgb(230, 230, 230);
            cursor: pointer;
        }
        

        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #16423C;
            color: white;
        }

        .add-product-form th, td {
            padding: 1.5rem;
        }
        .add-product-form th {
            border-bottom: solid white 1px  ;
        }
        .table-items:hover {
            color: #557C56;
            background-color: white;
            cursor: pointer;
        }
    </style>

    <div class="nav-bar">
        <h1>
            <span class="checkout">checkout</span><span class="ify">ify.</span>
        </h1>
    </div>
    <div class="main">
        <h3>Made By: </h3>
        <p>{{ name }}</p>
        <p>{{ class }}</p>
    </div>


    <div class="add-product-form">
        {% if not attribute_entries %}
        <p>No Products available.</p>
        {% else %}
        <table>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Stock</th>
            </tr>
    
            {% for attribute in attribute_entries %}
            
            <tr class="table-items">
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.price }}</td>
                <td>{{ attribute.description }}</td>
                <td>{{ attribute.stock }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br />
        <a href="{% url 'main:add_product' %}">
            <button>Add Product</button>
        </a>
    </div>

    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
